#monkey {
    background-color: gray;
    color: white;
    font-size: 48px;
    padding: 25px;
}

#monkey2 {
    background-color: thistle;
    color: white;
    font-size: 24px;
    padding: 12.5px;
}